<div class="container" id="panels">
  <div class="card-deck">
    <div *ngFor="let item of image" class="card mb-4">
      <div class="view overlay">
        <img class="card-img-top" [src]=item.url style="height: 200px">
        <a href="#!">
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <div class="card-body">
        <h4 class="card-title text-center">{{item.nombre}}</h4>
        <div  class="collapse" id="collapseExample">
          <div class="mt-3">
            <p class="card-text text-break">{{ item.descripcion }}</p>
          </div>
        </div>
        <button type="button" style="width: 100%" class="btn btn-light-blue btn-md" data-toggle="collapse" href="#collapseExample"
          aria-expanded="false" aria-controls="collapseExample">Ver mas</button>
      </div>
    </div>

  </div>
</div>


